# database
DB_URL=...

# symbols
SYMBOLS=ethusdt,btcusdt

# data
prem_ind=https://fapi.binance.com/fapi/v1/premiumIndex

url_mark_price=https://fapi.binance.com/fapi/v1/premiumIndex
url_fund_rate=https://fapi.binance.com/fapi/v1/fundingRate

url_spot_symbols = "https://api.binance.com/api/v3/exchangeInfo"
url_fut_symbols = "https://fapi.binance.com/fapi/v1/exchangeInfo"

spot_url_order =wss://stream.binance.com:9443/stream?streams
fut_url_order =wss://fstream.binance.com/stream?streams